{% extends 'base.html' %}

{% block static_files %}
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/form.css') }}">
{% endblock %}


{% block content %}
<h1>{% block title %} Add a New Game {% endblock %}</h1>

<div class="form-style-2">
	<div class="form-style-2-heading">Provide Game Information</div>
	<form id="gameForm" action="" method="post">
		<label for="name"><span>Name <span class="required">*</span></span>
			<input type="text" id="bg-name" class="input-field" name="name" value="{{ request.form['name']}}" />
		</label>
		<label for="bgg"><span>BGG Link <span class="required">*</span></span>
			<input type="text" id="bgg-url" class="input-field" name="bgg" value="{{ request.form['bgg']}}" />
		</label>
		<div id="cardInfo">

		</div>
		<div>
			<div class="col1">
				<input type="button" id="addCardType" onClick="showCard()" value="Add Cards" />
			</div>
			<div class="col2">
				<label><span></span><input type="submit" value="Submit" /></label>
			</div>
	</form>
</div>

<div id="oneCard">
	<div class="card-area" id="acard" style="display:none;">
		<div class="col1">
			<label for="cSize"><span>Sleeve Size <span class="required">*</span></span>
				<select name="cSize" class="select-field">
					{% for sid, sleeve in sleeves.items() %}
					<option value={{ sid }}>{{ sleeve }}</option>
					{% endfor %}
				</select>
		</div>
		<div class="col2">
			<label for="cQty"><span>Qty <span class="required">*</span></span>
				<input type="text" class="input-field" id="cqty" name="cQty" value="{{ request.form['cQty'] }}" />
			</label>
<!-- 			<label for="cSleeved"><span>Sleeved </span>
				<input type="checkbox" class="input-field" name="cSleeved"/>
			</label> -->
		</div>
	</div>
</div>

<script>
    function showCard() {
        var d = acard.cloneNode(true);
        cardInfo.append(d);
        d.style.display = '';
    }
</script>

{% endblock %}
