{% extends 'base.html' %}

{% block static_files %}
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/form.css') }}">
{% endblock %}

{% block content %}

<h1>{% block title %} Add a New Game {% endblock %}</h1>

<div class="form-style-2">
	<div class="form-style-2-heading">Add / Update Sleeves</div>
	<form id="sleeveForm" action="" method="post">
		{{ form.csrf_token }}
        {% if form.csrf_token.errors %}
    <div class="warning">You have submitted an invalid CSRF token</div>
{% endif %}

        <p>
		{{ form.brand.label(class="form-label") }}
		{{ form.brand(class="select-field", list="brandnames") }}
		<datalist id="brandnames">
			{% for brandname in brands %}
			<option value="{{ brandname }}">
			{% endfor %}
		</datalist>
        </p>

        <p>
		{{ form.stype.label(class="form-label") }}
		{{ form.stype(class="select-field", list="types") }}
		<datalist id="types">
			{% for stype in stypes %}
			<option value="{{ stype }}">
			{% endfor %}
		</datalist>
        </p>

        <p>
		{{ form.size.label(class="form-label") }}
		{{ form.size(class="select-field", list="sizes") }}
		<datalist id="sizes">
			{% for size in sizes %}
			<option value="{{ size }}">
			{% endfor %}
		</datalist>
        </p>

        <p>
		{{ form.qty.label(class="form-label" )}}
		{{ form.qty(class="input-field") }}
        </p>

        {% if form.brand.errors %}
            <ul class="errors">
                {% for error in form.title.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

		{% if form.stype.errors %}
            <ul class="errors">
                {% for error in form.stype.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

		{% if form.size.errors %}
            <ul class="errors">
                {% for error in form.size.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

		{% if form.qty.errors %}
            <ul class="errors">
                {% for error in form.qty.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            <input type="submit" value="Add Sleeves">
        </p>
	</form>
</div>

{% endblock %}
