{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Add Card Information for a Game {% endblock %}</h1>

<form id="addcardform" action="" method="post">
	{{ card.hidden_tag() }}
	<fieldset>
		<legend>Card Information</legend>
		{{ card.card_size.label }}
		{{ card.card_size }}
		{{ card.sleeve.label }}
		{{ card.sleeve }}
		{{ card.qty.label }}
		{{ card.qty }}
	</fieldset>
</form>

<div class="form-style-2">
	<div class="form-style-2-heading">Provide Game Information</div>
	<form id="addcardform" action="" method="post">
		<label for="select-game"><span>Name <span class="required">*</span></span></label>
		<input list="owned-games-list" id="select-game" name="select-game">
		<datalist id="owned-games-list">
			{% for game in games %}
			<option value="{{ game['Name'] }}">{{ game['Name'] }}</option>
			{% endfor %}
		</datalist>

		<div id="cardInfo">
		</div>

		<div>
			<div class="col1">
			  <label><span></span><input type="button" id="addCardType" onClick="showCard()" value="Add Card" /></label>
			</div>
			<div class="col2">
				<label><span></span><input type="submit" value="Submit" /></label>
			</div>
		</div>
	</form>
	</div>
	<div id="oneCard">
	<div class="card-area" id="acard" style="display:none;">
		<div class="col1">
			<label for="cSize"><span>Card Size <span class="required">*</span></span>
			<input list="card-sizes-list" name="card-size">
			<datalist id="card-sizes=list">
				{% for cSize in card_sizes %}
				<option value="{{ cSize }}">
				{% endfor %}
			</datalist>
		</div>
		<div class="col2">
			<label for="cQty"><span>Qty <span class="required">*</span></span>
				<input type="text" class="input-field" id="cqty" name="cQty" />
			</label>

		</div>
			<label for="sleeveId"><span>Sleeve Size <span class="required">*</span></span>
				<select name="sleeveId" class="select-field">
					{% for sid, sleeve in sleeves.items() %}
					<option value={{ sid }}>{{ sleeve }}</option>
					{% endfor %}
				</select>
	</div>
</div>

<script>
    function showCard() {
        var d = acard.cloneNode(true);
        cardInfo.append(d);
        d.style.display = '';
    }
</script>
{% endblock %}
