{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Add A New Owned Game {% endblock %}</h1>

<form id="addgameform" action="" method="post">
	<fieldset>
		<legend>Provide Game Information</legend>
		<label for="bg_name">Name <span class="required">*</span></label>
		<input list="all-games-list" id="select-game" name="bg_name"/>
		<datalist id="all-games-list">
			{% for game in games %}
			<option value="{{ game ['Id'] }}: {{ game['Name'] }}">
			{% endfor %}
		</datalist>
		<input type="submit" value="Submit"/>
	</fieldset>
</form>

{% endblock %}
