<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/classless.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/classless-override.css') }}" />

  {% block static_files %} {% endblock %}
  <title>{% block title %} {% endblock %}</title>
</head>

<body>

  <nav>
    <ul>
      <li><a href="{{ url_for('index')}}">Home</a></li>
      <li><a href="#">Games ▾</a>
        <ul>
          <li><a href="{{ url_for('games.list') }}">Owned Games</a></li>
          <li><a href="{{url_for('games.add_new_game')}}">Add a Game</a></li>
          <li><a href="{{url_for("games.add_cards")}}">Add Cards</a></li>
        </ul>
      </li>
      <li><a href="{{url_for('sleeves.stock')}}">Sleeve Stock</a></li>
      <li><a href="{{url_for('sleeves.tobuy')}}">Sleeves To Buy</a></li>
      <li><a href="{{url_for('sleeves.add')}}">Add Sleeves</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  </nav>

  {% for message in get_flashed_messages() %}
  <blockquote class="warn">
    <p>⚠ Error</p>
    <p>{{ message }}</p>
  </blockquote>
  {% endfor %}

  {% block content %} {% endblock %}

  <footer>&copy;2023-2024 Darshit Shah. Licensed under <a href="{{url_for('agpl')}}">GNU AGPL</a></footer>
</body>
</html>
