{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %} List of Owned Boardgames {% endblock %}</h1>
    <table>
      <thead>
        <tr>
          <th>BGG Id</th>
          <th id="gameName">Name</th>
          <th>Card Size</th>
          <th colspan=4>Sleeve</th>
        </tr>
      </thead>
      <tbody>
        {% for game in games %}
        {% set cardCount = cards[game['Id']]|count %}
          <tr>
            <td rowspan={{ [cardCount, 1]|max }}>
              <a href=https://boardgamegeek.com/boardgame/{{ game['Id'] }}>{{ game['Id'] }}</a>
            </td>
            <td rowspan={{ [cardCount,1]|max }} id="gameName">{{ game['Name'] }}</td>
            {% if cardCount == 0 %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% endif %}
            {% for card in cards[game['Id']] %}
            {% if loop.index != 1 %}
          <tr>
            {% endif %}
            {% if card['Sleeved'] == 1 %}
            {% set sleeveState = 'checked' %}
            {% elif card['SleeveId'] == 0 %}
            {% set sleeveState = 'disabled' %}
            {% else %}
            {% set sleeveState = '' %}
            {% endif %}
            <td id={{ sleeveState }}>{{ card['cardSize'] }}</td>
            <td>
              <label for={{ game['Id'] }}-{{ card['SleeveId'] }}">{{ card['Sleeved'] }}/{{ card['Qty'] }}</label>
            </td>
            <td>
                  <meter id="{{ game['Id'] }}-{{ card['SleeveId'] }}" min="0" max="{{ card['Qty'] }}" low="{{ card['Qty']-1 }}" optimum="{{ card['Qty'] }}" value="{{ card['Sleeved'] }}" />
              </td>
            <td id={{ sleeveState }}>{{ card['Sleeve'] }}</td>
            <td>{{ card['SleeveSize'] }}</td>
          </tr>
            {% endfor %}
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
