{% extends 'base.html' %}

{% block static_files %}
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/table.css') }}">
  <script src="{{ url_for('static', filename='scripts/table.js')}}"></script>
{% endblock %}

{% block content %}
	<h1>{% block title %} Welcome to BG Web {% endblock %}</h1>
<div class="tg-wrap"><table id="tg-aJb3b" class="tg">
<thead>
  <tr>
    <th class="tg-ul38">Brand</th>
    <th class="tg-ul38">Type</th>
    <th class="tg-ul38">Size</th>
    <th class="tg-ul38">Needed</th>
    <th class="tg-ul38">Missing</th>
    <th class="tg-ul38">Packs</th>
    <th class="tg-ul38">Cost</th>
  </tr>
</thead>
<tbody>
	{% for tobuy in sleeves %}
  <tr>
	  <td class="tg-0lax">{{ tobuy['Brand'] }}</td>
	  <td class="tg-0lax">{{ tobuy['Type'] }}</td>
	  <td class="tg-0lax">{{ tobuy['Size'] }}</td>
	  <td class="tg-0lax">{{ tobuy['Needed'] }}</td>
	  <td class="tg-0lax">{{ tobuy['Missing'] }}</td>
	  <td class="tg-0lax">{{ tobuy['Packs'] }}</td>
	  <td class="tg-0lax">{{ tobuy['Cost'] }}</td>
  </tr>
	{% endfor %}
</tbody>
</table></div>
{% endblock %}
